.search_box{
          width: 550px;
          height: 45px;
          margin-top:20px;
          box-shadow: 0inset 0 0 10px
          box-sizing: border-box;
          border: 2px solid white;
          background-color: white;
          border-radius: 40px;
          input-align: center ;
          font-size: 15px;
          padding: 10px;
          mini-width: 2px;
          mini-height: 2px;
          box-shadow: 0px 0px 8px #C0C0C0;
          padding-left: 70px;
          background-image:url(search_icon.png);
          background-position: 15px 9px;
          position: left;
          padding-left:60px;
          background-size: 25px;
          background-repeat: no-repeat;
         }

